@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .loader-circle {
    @apply w-3 h-3 rounded-full bg-secondary animate-bounce;
  }
}

.loader div {
  animation-duration: 0.5s;
}

.loader div:first-child {
  animation-delay: 0.1s;
}

.loader div:nth-child(2) {
  animation-delay: 0.3s;
}

.loader div:nth-child(3) {
  animation-delay: 0.5s;
}
